@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";
@plugin "@tailwindcss/typography";

/* Hide Scrollbar */
* {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: none;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --message-card-background: #f0f0f0;
  --icon-color: #555555;
  --drawer-color: #ffffff;
}

[data-theme="dark"] {
  --background: #121212;
  --foreground: #ededed;
  --message-card-background: #1f1f1f;
  --icon-color: #ffffff;
  --drawer-color: #1f1f1f;
}

.infinite-scroll-component {
  overflow-x: hidden !important;
}

@media (min-width: 768px) {
  body {
    font-size: 16px !important;
    line-height: 1.5 !important;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 14px !important;
    line-height: 1.4 !important;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-style: normal !important;
  font-stretch: normal !important;
  font-variant: normal !important;
  font-weight: normal !important;
}

@layer components {
  .animate-slide-left {
    @apply animate-[slideLeft_0.3s_ease-in-out];
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

html:has(.drawer-toggle:checked) {
  overflow-y: hidden;
  scrollbar-gutter: auto;
}

.message-card-backround {
  @apply border border-gray-200 rounded-lg p-3;
  background-color: var(--message-card-background);
}

[data-theme="dark"] .message-card-backround {
  @apply border-gray-800;
}


.icn {
  /* color: var(--icon-color); */
  border-radius: 9999px;
  transition: color 200ms ease, background-color 200ms ease;
}

.icn:hover {
  background-color: #e5e7eb;
  color: #1f2937;
}

[data-theme="dark"] .icn:hover {
  background-color: color-mix(in srgb, var(--icon-color) 12%, transparent);
  color: var(--icon-color);
}

input,
select {
  outline: none !important;
}